# PostHog analytics
PUBLIC_POSTHOG_PROJECT_TOKEN=
PUBLIC_POSTHOG_HOST=

# Set to "false" to disable analytics (PostHog) in dev
PUBLIC_ANALYTICS_ENABLED=

# Brevo email forms
PUBLIC_BREVO_ACCOUNT_ID=

# Cloudflare Turnstile (bot protection on forms)
PUBLIC_CLOUDFLARE_TURNSTILE_SITE_KEY=
