---
export interface Props {
  brevoFormId: string;
  buttonText?: string;
}

const defaultButtonText = "Subscribe";
const { brevoFormId, buttonText = defaultButtonText } = Astro.props;
---

<!-- Main form -->
<form
  id="brevo-form"
  method="POST"
  action={`https://${import.meta.env.PUBLIC_BREVO_ACCOUNT_ID}.sibforms.com/serve/${brevoFormId}`}
  class="flex flex-col gap-8 bg-white px-4 py-8 shadow-sm md:flex-row md:gap-12 md:rounded-lg md:p-16 lg:p-20"
>
  <section class="prose prose-xl lg:prose-2xl prose-headings:font-semibold !leading-tight md:w-1/2">
    <slot />
  </section>

  <section class="flex min-w-[300px] flex-1 flex-col gap-4 md:pt-2">
    <!-- Email input -->
    <label for="EMAIL" class="font-mono text-xl font-medium">Email</label>
    <input
      type="email"
      id="EMAIL"
      name="EMAIL"
      placeholder="your@email.com"
      required
      class="w-full rounded-sm border border-slate-300 p-2 font-mono text-lg"
    />

    <!-- Captcha -->
    <div
      class="cf-turnstile g-recaptcha"
      data-sitekey={import.meta.env.PUBLIC_CLOUDFLARE_TURNSTILE_SITE_KEY}
      data-size="flexible"
      data-language="en"
    >
    </div>

    <!-- Legal consent checkbox -->
    <div class="flex w-full items-start gap-2">
      <input
        type="checkbox"
        id="consent"
        name="consent"
        required
        class="text-accent-light focus:myblue-500 mt-1 h-4 w-4 rounded border-slate-400"
      />
      <label for="consent" class="font-mono text-xs">
        I agree to receive emails from zmoki.xyz. I understand I can unsubscribe at any time.
        <a href="/legal/privacy/" class="text-myblue-500" target="_blank"> Privacy Policy </a>
      </label>
    </div>

    <!-- Submit button -->
    <button
      type="submit"
      class="rounded-sm bg-[#00cb4b] px-4 py-2 font-mono font-medium uppercase tracking-normal text-white hover:bg-[#00cb4b]/80"
    >
      {buttonText}
    </button>

    <!-- Hidden inputs -->
    <input type="text" name="email_address_check" value="" style="display: none;" />
    <input type="hidden" name="locale" value="en" />
  </section>
</form>

<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer is:inline></script>
