---
import { Image, getImage } from "astro:assets";
import type { LocalImageProps } from "astro:assets";

interface Props {
  src: LocalImageProps["src"];
  alt: string;
}

const { src, alt } = Astro.props;

const licenseUrl = new URL("/terms#1-content-images--text", Astro.url).href;
---

<figure
  class="!my-0 flex w-full flex-col items-center"
  itemscope
  itemtype="https://schema.org/ImageObject"
>
  <Image
    src={src}
    alt={alt}
    width={1200}
    height={800}
    layout="constrained"
    loading="lazy"
    class="rounded-lg shadow-lg"
    itemprop="contentUrl"
  />

  <meta itemprop="license" content={licenseUrl} />
  <meta itemprop="acquireLicensePage" content={licenseUrl} />
  <meta itemprop="creditText" content="Zarema Khalilova / Zmoki" />
  <meta itemprop="copyrightNotice" content="CC BY-NC 4.0" />

  <span itemprop="creator" itemscope itemtype="https://schema.org/Person">
    <meta itemprop="name" content="Zarema Khalilova" />
  </span>
  <figcaption class="!mt-0 text-center text-sm text-gray-500">
    <slot />
  </figcaption>
</figure>
