---
export interface Props {
  slug: string;
  data: {
    title: string;
    description: string;
    publishDate: Date;
  };
}

const { data, slug } = Astro.props;
const { title, description, publishDate } = data;
---

<article class="overflow-hidden rounded-lg bg-white shadow-sm">
  <a href={`/feed/${slug}/`} class="flex h-full w-full flex-col gap-4 p-6 text-xl md:p-8">
    <h3 class="text-3xl font-semibold leading-tight md:text-4xl">
      {title}
    </h3>
    {description && <p class="flex-1">{description}</p>}
    <p class="text-right font-mono text-xs uppercase tracking-normal opacity-70">
      <time datetime={publishDate.toISOString()}>
        {
          publishDate.toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </time>
    </p>
  </a>
</article>
