---
import { RawVideo } from "@zmoki/shared-components";

export interface Props {
  src: string;
  type?: string;
  poster?: string;
  width?: number;
  height?: number;
}

const hasText = Astro.slots.has("default");
---

{
  hasText ? (
    <div class="my-8 grid grid-cols-1 gap-8 md:grid-cols-3">
      <div class="not-prose col-span-1 flex justify-start">
        <RawVideo {...Astro.props} />
      </div>
      <div class="col-span-2">
        <slot />
      </div>
    </div>
  ) : (
    <RawVideo {...Astro.props} />
  )
}
